{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bonjour</h1>
<a href="" class="btn btn-primary">Le boutton</a>
<img src="{{ asset('images/1.jpg') }}" width="200px" alt="Mon image 1" srcset="">
{% endblock %}